body {
    background-color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}


.heading {
    text-align: center;
}

.game-area {
    background-color: #2a7eb6;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    max-width: 830px;
    margin-left: auto;
    margin-right:auto;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
}

.btn {
    height: 140px;
    border-radius: 20px;
    border-width: 3px;
    font-size: 25px;
    font-weight: bolder;
    
    text-decoration: none;
}

h3 {
    margin: auto;
    font-size: 20px;
}

.choices {
    box-sizing: border-box;
    margin-left: auto;
    margin-right:auto;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    max-width: 830px;
    background-color: aqua;
    height: 130px ;
    
}
.points {
    box-sizing: border-box;
    margin-left: auto;
    margin-right:auto;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    max-width: 830px;
    background-color: aqua;
}


.newGame {
    box-sizing: border-box;
    margin-left: auto;
    margin-right:auto;
    padding: 20px;
    border-radius: 20px;
    border-style: solid;
    max-width: 830px;
    background-color: aqua;
}
img {
    padding: 5px;
    width: 100px;
}