/*Background color and font selected for all text in game*/
body {
    background-color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

/*Game title styling*/
.heading {
    text-align: center;
}
/* This part styles game button area*/
.game-area {
    background-color: #2a7eb6;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    max-width: 830px;
    margin-left: auto;
    margin-right:auto;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
}
/*Buttons styling to fit symbol images*/
.btn {
    height: 140px;
    border-radius: 20px;
    border-width: 3px;
    font-size: 25px;
    font-weight: bolder;
    
    text-decoration: none;
}
/*Styling "Please Choose"*/
h3 {
    margin: auto;
    font-size: 20px;
}
/*Style for area with player and computer choice and a result */
.choices {
    box-sizing: border-box;
    margin-left: auto;
    margin-right:auto;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    max-width: 830px;
    background-color: aqua;
    height: 130px ;
    
}
/*Points counting area*/
.points {
    box-sizing: border-box;
    margin-left: auto;
    margin-right:auto;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    max-width: 830px;
    background-color: aqua;
}

/*Buttton for new game*/
.newGame {
    box-sizing: border-box;
    margin-left: auto;
    margin-right:auto;
    padding: 20px;
    border-radius: 20px;
    border-style: solid;
    max-width: 830px;
    background-color: aqua;
}
/*Images for game buttons are fit on the game buttons*/
img {
    padding: 5px;
    width: 100px;
}
/*New game button height style*/
.newGame > .btn {
    height: 40px;
}

footer {
    background-color: blue;
    height: 100px;
}
/*Link and footer styling*/
#links {
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    margin-left: auto;
    margin-right:auto;
    padding: 20px;
    
}
/*link font, color etc.*/
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
    text-align: center;
    
}
/*Link text is larger after mouse hover*/
#links a:hover {
    font-size: larger;
}
/*Resize link img after mouse hover*/
#links a:hover img {
    transform: scale(2);
}